<%- include('header'); -%>

<h2>this is just for practic perpose and </h2>


<p>thisdkjfk fkjasfjksajfksd a aksdfjklsjfklasjfkljdkfjklf8etlkjsfjlkf lkjfkjsflkjldkfjalskdjflkajflkasdjfkladsjflksajdf</p>

<%- include('footer'); -%>