<%- include("header") -%>

    <form action="/" method="post">
        <input type="text" name="tackinput">
        <button type="submit" name="submit">submit</button>
    </form>
    <h1>hello world</h1>
</body>
</html>